mat-grid-tile {
  border-radius: 8px;
}

a {
  text-decoration: none;
  width: 100%;
  height: 200px;
  //border-radius: 8px;
}

.list-card {
  background-color: lightgray;
  height: 200px;
}

.mat-card-title,
mat-card-subtitle,
.mat-card-content {
  text-align: left;
}

mat-card-title {
  font-size: 18px;
  margin-bottom: 15px;
}

mat-card-subtitle {
  margin-right: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  color: white;
  background-color: #7763C5;
  border-radius: 8px;
  padding: 0 20px;
  height: 40px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
