<app-header></app-header>

<mat-card class="page-content-custom">
  <button (click)="createPost()" color="primary" mat-raised-button>Create post</button>

  <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select (change)="sortPosts()" [(value)]="sortByOption">
      <mat-option value="date">Date</mat-option>
      <mat-option value="author">Author</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-grid-list [cols]="isSmallScreen ? 1 : 2" gutterSize="16px">
    <mat-grid-tile *ngFor="let post of blogPosts">
      <!--<a [routerLink]="['/post', post.id]">-->
      <a routerLink="/posts/detail">
        <mat-card>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>
            {{ post.date | date: 'mediumDate' }} by {{ post.author }}
          </mat-card-subtitle>
          <mat-card-content>
            {{ post.content | slice:0:300 }}
            <span *ngIf="post.content.length > 300">...</span>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
