form {
  display: flex;
  flex-direction: column;
}

.back-button {
  margin-left: 15px;
}

mat-form-field {
  margin-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.desktop-logo {
  max-width: 125px;
}

mat-form-field .mat-form-field-label {
  color: black;
}

mat-form-field .mat-input-element {
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
}

.submit-button {
  background-color: #7763C5;
  color: white;
  padding: 1px 25px;
  border-radius: 8px;
  width: 200px;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .header-content {
    display: none;
  }

  .mobile-logo {
    max-width: 80vw;
  }

  .submit-button {
    background-color: #7763C5;
    color: white;
    padding: 1px 25px;
    border-radius: 8px;
    margin: 0 10vw;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-logo {
    display: none;
  }
}

