<div class="header-content">
  <img alt="logo" class="desktop-logo" src="/assets/logo_p6.png"/>
  <hr/>
</div>

<button (click)="goBack()" class="back-button" mat-icon-button>
  <mat-icon>arrow_back</mat-icon>
</button>

<mat-card class="page-content-custom">
  <img alt="logo" class="mobile-logo" src="/assets/logo_p6.png"/>

  <h2>Inscription</h2>

  <form (ngSubmit)="register()" [formGroup]="userForm">
    <mat-form-field>
      <input formControlName="username" matInput placeholder="Nom d'utilisateur" required>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matInput placeholder="Mot de passe" type="password">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Le mot de passe est requis.
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        Le mot de passe doit contenir au moins 8 caractères.
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('invalidPassword')">
        Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère
        spécial.
      </mat-error>
    </mat-form-field>
    <button class="submit-button" mat-button type="submit">S'inscrire</button>
  </form>
</mat-card>
