<mat-card class="page-content-custom">
  <mat-card-content>
    <h2>Profile utilisateur</h2>

    <form (ngSubmit)="updateUser()">
      <mat-form-field>
        <input [(ngModel)]="username" matInput name="username" placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="email" matInput name="email" placeholder="Email">
      </mat-form-field>
      <button class="save-button" mat-raised-button type="submit">Sauvegarder</button>
    </form>

    <button (click)="logout()" class="logout-button" mat-raised-button>Se déconnecter</button>
    <hr>
    <h2 *ngIf="hasSubscribedTopics()">Abonnements</h2>

    <mat-grid-list *ngIf="hasSubscribedTopics()" [cols]="isSmallScreen ? 1 : 2" gutterSize="16px" rowHeight="180px">
      <mat-grid-tile *ngFor="let subscribedTopic of user.subscribedTopics; trackBy: trackByTopicId">
        <mat-card>
          <mat-card-title>{{ subscribedTopic.name }}</mat-card-title>
          <mat-card-subtitle>{{ subscribedTopic.description }}</mat-card-subtitle>
          <mat-card-actions>
            <button (click)="unsubscribeFromTopic(subscribedTopic.id)" class="unsubscribe-button" mat-button>Se
              désabonner
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
