<mat-card class="page-content-custom">
  <mat-card-content>
    <h2>Profile utilisateur</h2>

    <form #userForm="ngForm" (ngSubmit)="updateUser()">
      <mat-form-field>
        <input [(ngModel)]="username" matInput name="username" placeholder="Nom d'utilisateur">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="email" matInput name="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input [formControl]="passwordFormControl" matInput name="password" placeholder="Mot de passe" type="password">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Le mot de passe est requis.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Le mot de passe doit contenir au moins 8 caractères.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('invalidPassword')">
          Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère
          spécial.
        </mat-error>
      </mat-form-field>
      <button class="save-button" mat-raised-button type="submit">Sauvegarder</button>
    </form>

    <button (click)="logout()" class="logout-button" mat-raised-button>Se déconnecter</button>
    <hr>
    <h2 *ngIf="hasSubscribedTopics()">Abonnements</h2>

    <mat-grid-list *ngIf="hasSubscribedTopics()" [cols]="isSmallScreen ? 1 : 2" gutterSize="16px" rowHeight="180px">
      <mat-grid-tile *ngFor="let subscribedTopic of user.subscribedTopics; trackBy: trackByTopicId">
        <mat-card>
          <mat-card-title>{{ subscribedTopic.name }}</mat-card-title>
          <mat-card-subtitle>{{ subscribedTopic.description }}</mat-card-subtitle>
          <mat-card-actions>
            <button (click)="unsubscribeFromTopic(subscribedTopic.id)" class="unsubscribe-button" mat-button>Se
              désabonner
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
