<div class="header-content">
  <img alt="logo" class="desktop-logo" src="/assets/logo_p6.png"/>
  <hr/>
</div>

<button (click)="goBack()" class="back-button" mat-icon-button>
  <mat-icon>arrow_back</mat-icon>
</button>

<mat-card class="page-content-custom">
  <img alt="logo" class="mobile-logo" src="/assets/logo_p6.png"/>

  <h2>Se connecter</h2>

  <form>
    <mat-form-field floatLabel="always">
      <mat-label>Email ou nom d'utilisateur</mat-label>
      <input [(ngModel)]="loginIdentifier" matInput name="loginIdentifier">
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Mot de passe</mat-label>
      <input [(ngModel)]="password" matInput name="password" type="password">
    </mat-form-field>

    <button (click)="login()" mat-raised-button>Se connecter</button>
  </form>
</mat-card>
