<mat-card class="page-content-custom">
  <div class="top-content">
    <button (click)="goBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h2>{{ post.title }}</h2>
  </div>

  <mat-card-content class="post-infos">
    <span>{{ post.createdAt | date: 'mediumDate' }}</span>
    <span>{{ post.postAuthorUsername }}</span>
    <span>{{ post.topicName }}</span>
  </mat-card-content>

  <mat-card-content class="post-content">
    <p>{{ post.content }}</p>
  </mat-card-content>

  <hr>

  <h2 class="title-comments">Commentaires</h2>
  <mat-list>
    <mat-list-item *ngFor="let comment of comments">
      <div class="list-comment-card">
        <h4 mat-line>{{ comment.commentAuthorUsername }}</h4>
        <p class="list-comment-content" mat-line>{{ comment.content }}</p>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-card-content class="create-comment-area">
    <mat-form-field class="text-area-form-field">
      <textarea [(ngModel)]="newCommentText" matInput placeholder="Ecrivez ici votre commentaire"></textarea>
    </mat-form-field>
    <button (click)="createComment()" class="create-button" mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
