/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: gold;
}

mat-sidenav-content {
  background-color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-card {
  box-shadow: none !important;
}

.page-content-custom {
  text-align: center;
}

@media (min-width: 1200px) {
  .page-content-custom {
    margin: 2vw 20vw;
  }
}

/* Remove the underline from mat-form-field */
.mat-form-field-underline {
  display: none;
}
