/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

mat-sidenav-content {
  background-color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-content-custom {
  text-align: center;
  margin: 0 25vw;
}

@media only screen and (max-width: 1200px) {
  .page-content-custom {
    margin: 0 20vw;
  }
}

@media only screen and (max-width: 992px) {
  .page-content-custom {
    margin: 0 15vw;
  }
}

@media only screen and (max-width: 768px) {
  .page-content-custom {
    margin: 0 10vw;
  }
}

@media only screen and (max-width: 576px) {
  .page-content-custom {
    margin: 0 5vw;
  }
}

.mat-card {
  box-shadow: none !important;
}

/* Remove the underline from mat-form-field */
.mat-form-field-underline {
  display: none;
}
