mat-card {
  height: 100%;
  margin-top: 12vh;
}

img {
  max-width: 450px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 8vw;
}

.button-container button {
  flex: 1;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 0 25px;
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 250px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  .button-container button {
    width: 80%;
  }
}
